<div class="text-center mb-4 ">
  <h2>Cambiar Contraseña</h2>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    
    <!-- newPassword -->
    <div class="mb-3">
      <label for="newPassword" class="form-label">Nueva Contraseña</label>
      <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
      <span *ngIf="changePasswordForm.get('newPassword')?.hasError('required')" class="error-message">
        required
      </span>
      <span *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')" class="error-message">
        La nueva contraseña debe tener al menos 8 caracteres.
      </span>
    </div>
  
    <!-- confirmPassword -->
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
      <span *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')" class="error-message">
        required
      </span>
      <span *ngIf="changePasswordForm.get('confirmPassword')?.hasError('mismatch')" class="error-message">
        Las contraseñas no coinciden.
      </span>
    </div>
  
    <button type="submit" class="btn btn-secondary">Cambiar Contraseña</button>
  </form>
</div>

