

.container{
    background-color: #2e2e2e;
   margin-top: 30px;
  
;
}
  .btn-options {
    margin-right: 10px;
  }
  
  .dropdown-toggle::after {
    display: none; /* Oculta la flecha de dropdown */
  }

  .options-buttons {
    color:white;
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    margin-right: 10px; /* Añade un margen entre los botones */
  }
  
  .dropdown-toggle {
    padding: 0.375rem 0.75rem; /* Añade relleno al botón de dropdown */
  }
  
  .dropdown-menu {
    min-width: unset; /* Elimina la restricción del ancho mínimo */
  }
  .dark-theme {
    background-color:#ffffff; /* Cambiar el color de fondo cuando el tema es oscuro */
    color: #000000; /* Cambiar el color del texto cuando el tema es oscuro */
  }
  
 
  .dark-theme .container {
    padding: 20px;
    background-color: #ff4c6b; /* Cambiar el color de fondo del contenido cuando el tema es oscuro */
  }
  
  .dark-theme .btn-primary {
    background-color: #ff4c6b;
    cursor: pointer;
  }