<div class="container" [ngClass]="{'dark-theme': themeService.getTheme() === 'dark'}">

  <!-- Botón para cambiar tema -->
  <button class="btn btn-outline-secondary my-3" (click)="toggleTheme()" 
          [ngClass]="{'active': themeService.getTheme() === 'dark'}">
    Cambiar Tema
  </button>

  <div *ngIf="profile" class="row justify-content-center">

    <!-- Barra de búsqueda -->
    <div class="mt-4 col-12">
      <app-search (searchQueryChanged)="onSearchQueryChanged($event)" [placeholder]="searchHolder"></app-search>
    </div>

    <!-- Resultados de búsqueda de usuarios -->
    <div *ngIf="search" class="search-results mt-3 col-12">
      <div class="list-group">
        <a *ngFor="let user of users | filterUser:search; let i = index" 
           routerLink="/pages/profile/{{ user.username }}"
           class="list-group-item list-group-item-action d-flex align-items-center" 
           [class.d-none]="!showAllUsers && i >= 4">
          <img [src]="user.avatar" class="rounded-circle mr-2" width="30" height="30"> 
          {{ user.username }}
        </a>
      </div>
    </div>

    <!-- PROFILE -->
    <div class="text-center mt-4 profile-info col-12">
      <img height="140px" width="140px" class="rounded-circle" [src]="profile?.avatar" alt="Foto de perfil">
      <h2>{{ profile.fullName }}</h2>
      <p class="text-muted">@{{ user?.username }}</p>

      <!-- Botón de seguir solo si no es admin -->
      <div *ngIf="!userlogged.roles.includes('ROLE_ADMIN')" class="mt-2">
        <app-follow-user [user]="user"></app-follow-user>
      </div>

      <!-- Social networks -->
      <div class="social-links mt-3">
        <a *ngIf="profile.facebookInProfile" href="{{ profile.FacebookInProfile }}" target="_blank" 
           class="text-decoration-none me-3" aria-label="Facebook">
          <i class="fab fa-facebook-f fs-4 text-muted"></i>
        </a>
        <a *ngIf="profile.twitterProfile" href="{{ profile.TwitterProfile }}" target="_blank" 
           class="text-decoration-none me-3" aria-label="Twitter">
          <i class="fab fa-twitter fs-4 text-muted"></i>
        </a>
        <a *ngIf="profile.instragramProfile" href="{{ profile.InstragramProfile }}" target="_blank" 
           class="text-decoration-none me-3" aria-label="Instagram">
          <i class="fab fa-instagram fs-4 text-muted"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- About -->
  <div *ngIf="profile" class="text-center mt-4">
    <div *ngIf="profile.about" class="about-section mt-4">
      <h3>Sobre mí</h3>
      <p>{{ profile.about }}</p>
    </div>

    <!-- Post user -->
    <div class="mt-4">
      <app-post-profile [user_profile]="user"></app-post-profile>
    </div>
  </div>
</div>
