img{
    width: 8em;
 
}
h4{
    font-size: 14px;
}
.anime-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
}

.anime-image {
    width: 100%;
  
    transition: transform 0.3s;
}

.anime-image:hover {
    transform: scale(1.05);
}

.rating {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating .score {
    margin-left: 5px; /* Espacio entre el ícono y el número de calificación */
}

.rating .fas.fa-star {
    color: #FFD700; /* Color del ícono de estrella */
}