<div class="container mt-4 text-center">
  <div *ngIf="user.username !== loggedUser.username" class="mb-4">
    <div *ngIf="!isFollowing">
      <button class="btn btn-secondary" (click)="followUser(user.id)">Seguir</button>
    </div>
    <div *ngIf="isFollowing">
      <button class="btn btn-secondary" (click)="unfollowUser(user.id)">Dejar de seguir</button>
    </div>
    
    <!-- Seguidores y Seguidos centrados y debajo del botón -->
    <div class="d-flex justify-content-center mt-3">
      <div class="me-4">
        <h5>Seguidores</h5>
        <a class="badge bg-info" (click)="showPanel()">{{ followers.length }}</a>
      </div>
      
      <div>
        <h5>Seguidos</h5>
        <a class="badge bg-info" (click)="showPanel()">{{ following.length }}</a>
      </div>
    </div>
  </div>
</div>
