@media (max-width: 768px) {
    h2 {
      font-size: 1.5rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
    .form-label {
      font-size: 0.9rem;
    }
    .form-control {
      font-size: 0.9rem;
    }
  }
  