<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div *ngFor="let anime of animeInfo; let i = index" class="carousel-item" [class.active]="i === 0">
          <a routerLink="/pages/detalle/{{ anime.id }}">
              <img class="d-block w-100 carousel-image" [src]="anime.imagePath" alt="Slide {{i + 1}}">
          </a>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
  <ol class="carousel-indicators">
      <li *ngFor="let anime of animeInfo; let i = index" data-bs-target="#carouselExampleControls" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
  </ol>
</div>
