<div class="container text-center ">
  <div class="collection-img position-relative ">
    <a><img [src]="user_profile.avatar" height="140px" class=" w-100 rounded-circle">
      <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" id="fileInput" hidden />
      <span (click)="onImageClick()"
        class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"><i
          class="fas fa-edit"></i></span></a>
  </div>
  <div class="form-group">
    <div *ngIf="uploadImageFailed" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  </div>
  <div class="row">
    <!-- Menú a la izquierda -->
    <div class="col-md-3">
      <app-menu></app-menu>
    </div>
    <!-- Área de contenido a la derecha -->
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>